<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
</head>

<body class="bodyBack">
<%- include('../partials/header', ({user}))%>

    <div>
        <div>
            about the site/project
        </div>
        <div class="row">
            headshots
            <div class="col-4 d-flex align-items-center">
                <div class="row">
                    <div class="col-12">
                        <a href="nickModal">
                            <img>
                        </a>
                    </div>
                    <div class="col-12">
                        <h3>Nick</h3>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex align-items-center">
                <div class="row">
                    <div class="col-12">
                        <a href="stanleyModal">
                            <img>
                        </a>
                    </div>
                    <div class="col-12">
                        <h3>Stanley</h3>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex align-items-center">
                <div class="row">
                    <div class="col-12">
                        <a href="dereckModal">
                            <img>
                        </a>
                    </div>
                    <div class="col-12">
                        <h3>Dereck</h3>
                    </div>
                </div>
            </div>
        </div>
        <div>
            Nick Modal
            <div class="modal fade modal-dialog-centered" id="nickModal" tabindex="-1" aria-labelledby="nickModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="nickModalLabel">Nicholas Vandyken</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-4">
                                    <a href="https://www.linkedin.com/in/nicholas-vandyken-167b48155/" class="" type="button">LinkedIn</a>
                                </div>
                                <div class="col-4">
                                    <a href="https://github.com/VandykenNicholas" class="" type="button">GitHub</a>
                                </div>
                                <div class="col-4">
                                    <a href="https://alumni.codeup.com/students/1776" class="" type="button">Codeup Alumni Page</a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            Stanley Modal
            <div class="modal fade modal-dialog-centered" id="stanleyModal" tabindex="-1" aria-labelledby="stanleyModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="stanleyModalLabel">Matthew Stanley</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-4">
                                    <a href="https://www.linkedin.com/in/matthewstanley35t/" class="" type="button">LinkedIn</a>
                                </div>
                                <div class="col-4">
                                    <a href="https://github.com/matthew-stanley-35t" class="" type="button">GitHub</a>
                                </div>
                                <div class="col-4">
                                    <a href="https://alumni.codeup.com/students/1780" class="" type="button">Codeup Alumni Page</a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            Derek Modal
            <div class="modal fade modal-dialog-centered" id="nickModal" tabindex="-1" aria-labelledby="nickModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="nickModalLabel">Nicholas Vandyken</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-4">
                                    <a href="https://www.linkedin.com/in/dereckrascon/" class="" type="button">LinkedIn</a>
                                </div>
                                <div class="col-4">
                                    <a href="https://github.com/DereckRascon" class="" type="button">GitHub</a>
                                </div>
                                <div class="col-4">
                                    <a href="https://alumni.codeup.com/students/1782" class="" type="button">Codeup Alumni Page</a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../partials/footer')%>
<!-- Bootstrap JS -->
</body>
</html>