<!DOCTYPE html>
<html>
<head>
    <title>Create Event</title>
    <meta charset="UTF-8">


</head>
<%- include('../partials/header'), ({user})%>

<body>
<div class="container min-vh-100 d-flex justify-content-center align-items-top col">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="d-flex justify-content-center">Create Event</h1>
            <form action="" method="POST">
                <div class="form-group">
                    <label class="d-flex justify-content-center" for="title">Event Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label class="d-flex justify-content-center" for="content">Event Description</label>
                    <textarea rows="5" class="form-control" id="content" name="content"></textarea>
                    <br>
                <div>
                    <label class="d-flex justify-content-center" for="date">Event Time and Date</label>
                    <input class="form-control" type="datetime-local" id="date" placeholder="Select Date and Time">
                </div>
                    <br>
                </div>
                <div class="form-group d-flex justify-content-center col">

                        <label for="tagsList">Tags:</label>
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Tags
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="tagsList">

                        </ul>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Create
                    </button>
                    <button class="btn btn-default">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
</div>


<%- include('../partials/footer')%>

<script src="/assets/js/createEvent.js"></script>
</body>
</html>