<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="styles.css">
    <title>Profile</title>
</head>

<body>
<div class="grid text-center container">
    <div class="g-col-6 g-col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">displayname</h6>
                <h2 class="card-title">First and last name</h2>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Edit Profile</a>
                <a href="#" class="btn btn-primary">Delete Profile</a>
            </div>
        </div>
    </div>
    <div class="g-col-6 g-col-md-4">
        <h3>Recent Post</h3>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title">Card title</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="g-col-6 g-col-md-4">
        <h3>Fireteam</h3>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title">Card title</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="g-col-6 g-col-md-4">
        <h3>Interests</h3>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title">Card title</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>



</body>
</html>
