<header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="login.ejs"><i class="fa-brands fa-wolf-pack-battalion"></i>After the Foxhole</a>
        <div class="navbar" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>
