.bodyBack {
    background-color: #3E4F88;
    font-family: 'Teko', sans-serif;
}

.backGrey {
    background-color: #A9ADBC;
}

h5.card-subtitle {
    color: #71737a;
}

a.tabbing{
    font-size: 48px;
}

.viewPageTags {
    font-size: 18px;
}

.viewPageDates {
    font-size: 16px;
}

.mainCard{
    font-size: 30px;
}

.commentContent {
    font-size: 20px
}

.size24{
    font-size: 24px;
}

label.filterSort{
    font-size: 24px;
}

a.universalHead{
    font-size: 20px;
}

.cardsContainer {
    background-color: #A9ADBC;
}

.theseAreCards {
    background-color: #E4E4DF;
}

p.cardContentEach {
    font-size: 26px;
}

.navBarStyle {
    background-color: #A9ADBC;
    font-family: 'Teko', sans-serif;
}

.profInfo{
    min-height: 90vh;
    max-height: 90vh;
}

.navBtnStyle {
    color: white;
    margin-right: 0.5rem;
    background-color: #94aae0;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid;
    border-color: #0d6efd;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.votedBtn {
    color: white;
    margin-right: 0.5rem;
    background-color: #69af70;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid;
    border-color: #35873d;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dangerBtn {
    color: black;
    margin-right: 0.5rem;
    background-color: indianred;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid;
    border-color: red;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navBtnStyle:hover {
    color: #fff;
    background-color: #3E4F88;
    border-color: #3E4F88;
}

.dangerBtn:hover {
    color: black;
    background-color: red;
}

.page-item .disabled {
    background-color: #E4E4DF;
}

.nav-tabs .nav-link.active {
    background-color: #E4E4DF;
}

.buttonStyle {
    background-color: #94aae0;
}

/* unvisited link */
a.standardLink:link {
    color: #5c7ab4;
}

.ownerColor {
    color: #5c7ab4;
}

a.navBtnStyle:link {
    color: white;
}
.whiteButtons {
    color: white;
}

/* selected link */
a:hover {
    color: blue;
}

#testCard {
    background-color: #A9ADBC;
    height: calc(85vh);
    /*overflow-y: scroll;*/
}

.size28 {
    font-size: 28px;
}

.createEdit {
    background-color: #A9ADBC;
    background-image: url("https://drive.google.com/uc?id=1gtx-Ej9XPQubfrqXnRZxIfS9O_hWRumN");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.editProfBack {
    background-image: url("https://drive.google.com/uc?id=1uiBJ72NQvyXNSkBB4dlc_jBquRvKt49H");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.loginLogo {
    background-image: url("https://drive.google.com/uc?id=1qDKcKH-pTUjrugPIm5Fa0zMYR_IqKPQe");
    background-size: 52%;
    background-repeat: no-repeat;
    background-position: left;
}

.homepageLogo {
    background-image: url("https://drive.google.com/uc?id=1qDKcKH-pTUjrugPIm5Fa0zMYR_IqKPQe");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.editProfImg {
    max-width: 200px;
}

#testCard::-webkit-scrollbar {
    width: 0.5em;
}
#tabCards::-webkit-scrollbar {
    width: 0.5em;
}

#tabCards {
    height: calc(59vh);
    overflow-y: scroll;
}

#myEvents {
    max-height: 250px;
    overflow-y: scroll;
}
#myEvents::-webkit-scrollbar {
    width: 0.1em;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #testCard {
        height: calc(86vh);
        /*overflow-y: scroll;*/
    }
    #tabCards {
        height: calc(50vh);
        overflow-y: scroll;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    #testCard {
        height: calc(86vh);
        /*overflow-y: scroll;*/
    }
    #tabCards {
        height: calc(44vh);
        overflow-y: scroll;
    }
}

@media (max-width: 575.98px) { /* mobile screens */
    #testCard {
        height: calc(86vh);
        /*overflow-y: scroll;*/
    }
    #tabCards {
        height: calc(44vh);
        overflow-y: scroll;
    }
}

.mobileScreens {
    height: calc(50vh);
    overflow-y: scroll;
}

.pagBtns {
    display: none;
}

.space{
    margin-right: 5px;
    margin-left: 5px;
}

.createSpace{
    padding-top: 15px;
    padding-bottom: 15px;
}

.scrollable-div {
    max-height: 83.6vh;
    overflow-y: scroll;

}

.profLogo {
    max-width: 125px;
}

.profCols {
    max-height: 90vh;
}

.scrollable-div::-webkit-scrollbar {
    width: 0.5em;
}

.createBox {
    max-height: calc(80vh);
}

.loginBox {
    max-height: 85vh;
}

.loginCreateBox {
    max-height: 75vh;
}

.loginBox > * {
    max-width: 100%;
    height: auto;
}

.headshot {
    max-width: 85%;
    height: auto;
}

.col-12 .d-flex a {
    display: inline-flex;
}

.loginFormBox {
    max-height: calc(70vh);
}

.regBox {
    max-height: calc(87vh);
}

/* SHIFT */
nav.shift ul li a {
    position:relative;
    z-index: 1;
}
nav.shift ul li a:hover {
    color: white;
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #5c7ab4;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

/* SHIFT */
.brandBtn {
    position:relative;
    z-index: 1;
}
.brandBtn:hover {
    color: white;
}
.brandBtn:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #5c7ab4;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.brandBtn:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.brandBtn,
.brandBtn:after,
.brandBtn:before {
    transition: all .5s;
}

/* SHIFT */
.hamburger {
    position:relative;
    z-index: 1;
}
.hamburger:hover {
    color: white;
}
.hamburger:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #5c7ab4;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.hamburger:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.hamburger,
.hamburger:after,
.hamburger:before {
    transition: all .5s;
}


.modal .modal-content {
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}

.logo {
    max-width: 150px;
}

@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.dereckImg {
    object-fit: cover;
}
